/**
 * Project - Article
 */

.article {
  &--pageEnter {
    animation: slideIn 0.5s ease;
  }

  &--pageLeave {
    animation: slideOut 0.5s ease;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(15%);
  }
}